In [1]:
import pandas as pd 

df_prime = pd.read_csv('/data/pj20/txgnn/kg/kg_directed.csv')

/tmp/ipykernel_91075/2610146637.py:3: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prime = pd.read_csv('/data/pj20/txgnn/kg/kg_directed.csv')

In [2]:
df_prime = df_prime[['x_type', 'x_id', 'relation', 'y_type', 'y_id']]

In [3]:
df_drug_src = df_prime[df_prime.x_type == 'drug']
df_drug_dst = df_prime[df_prime.y_type == 'drug']

In [4]:
import numpy as np

np.unique(df_drug_src.y_type.values), np.unique(df_drug_src.relation.values)

(array(['disease', 'drug', 'effect/phenotype', 'gene/protein'],
       dtype=object),
 array(['contraindication', 'drug_drug', 'drug_effect', 'drug_protein',
        'indication', 'off-label use'], dtype=object))

In [5]:
import json

with open('./prime_kg_db_cid.json', 'r') as f:
    db2cid = json.load(f)

with open('./primekg_id_mapping.json' , 'r') as f:
    protein_id2name = json.load(f)['id2name_protein']

with open('./primekg_disease_id_to_dzid.json', 'r') as f:
    disease_id2dzid = json.load(f)

In [6]:
df_drug_src

        x_type     x_id      relation            y_type    y_id
321075    drug  DB09130  drug_protein      gene/protein  2157.0
321076    drug  DB09130  drug_protein      gene/protein  2153.0
321077    drug  DB09140  drug_protein      gene/protein  3040.0
321078    drug  DB00180  drug_protein      gene/protein   866.0
321079    drug  DB00240  drug_protein      gene/protein   866.0
...        ...      ...           ...               ...     ...
2076036   drug  DB00105   drug_effect  effect/phenotype  2595.0
2076037   drug  DB00105   drug_effect  effect/phenotype  1618.0
2076038   drug  DB00105   drug_effect  effect/phenotype  1677.0
2076039   drug  DB00105   drug_effect  effect/phenotype  1262.0
2076040   drug  DB00105   drug_effect  effect/phenotype  2791.0

[1469382 rows x 5 columns]

In [7]:
df_drug_src['x_id'] = df_drug_src['x_id'].map(db2cid)
df_drug_src.loc[df_drug_src['y_type'] == 'gene/protein', 'y_id'] = df_drug_src.loc[df_drug_src['y_type'] == 'gene/protein', 'y_id'].map(protein_id2name)

/tmp/ipykernel_91075/2912432475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drug_src['x_id'] = df_drug_src['x_id'].map(db2cid)

In [8]:
df_drug_src.loc[df_drug_src['y_type'] == 'drug', 'y_id'] = df_drug_src.loc[df_drug_src['y_type'] == 'drug', 'y_id'].map(db2cid)

In [9]:
df_drug_src.loc[df_drug_src['y_type'] == 'disease', 'y_id'] = df_drug_src.loc[df_drug_src['y_type'] == 'disease', 'y_id'].map(disease_id2dzid)

In [10]:
df_drug_src

        x_type        x_id      relation            y_type      y_id
321075    drug     23978.0  drug_protein      gene/protein        F8
321076    drug     23978.0  drug_protein      gene/protein        F5
321077    drug       977.0  drug_protein      gene/protein      HBA2
321078    drug     82153.0  drug_protein      gene/protein  SERPINA6
321079    drug   5311000.0  drug_protein      gene/protein  SERPINA6
...        ...         ...           ...               ...       ...
2076036   drug  71306834.0   drug_effect  effect/phenotype    2595.0
2076037   drug  71306834.0   drug_effect  effect/phenotype    1618.0
2076038   drug  71306834.0   drug_effect  effect/phenotype    1677.0
2076039   drug  71306834.0   drug_effect  effect/phenotype    1262.0
2076040   drug  71306834.0   drug_effect  effect/phenotype    2791.0

[1469382 rows x 5 columns]

In [11]:
df = df_drug_src
df[['x_type', 'y_type']] = df[['x_type', 'y_type']].replace('drug', 'molecule')

/tmp/ipykernel_91075/2556175146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['x_type', 'y_type']] = df[['x_type', 'y_type']].replace('drug', 'molecule')

In [12]:
df

           x_type        x_id      relation            y_type      y_id
321075   molecule     23978.0  drug_protein      gene/protein        F8
321076   molecule     23978.0  drug_protein      gene/protein        F5
321077   molecule       977.0  drug_protein      gene/protein      HBA2
321078   molecule     82153.0  drug_protein      gene/protein  SERPINA6
321079   molecule   5311000.0  drug_protein      gene/protein  SERPINA6
...           ...         ...           ...               ...       ...
2076036  molecule  71306834.0   drug_effect  effect/phenotype    2595.0
2076037  molecule  71306834.0   drug_effect  effect/phenotype    1618.0
2076038  molecule  71306834.0   drug_effect  effect/phenotype    1677.0
2076039  molecule  71306834.0   drug_effect  effect/phenotype    1262.0
2076040  molecule  71306834.0   drug_effect  effect/phenotype    2791.0

[1469382 rows x 5 columns]

In [13]:
df['score'] = 1.0
df

/tmp/ipykernel_91075/2492878928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score'] = 1.0

           x_type        x_id      relation            y_type      y_id  score
321075   molecule     23978.0  drug_protein      gene/protein        F8    1.0
321076   molecule     23978.0  drug_protein      gene/protein        F5    1.0
321077   molecule       977.0  drug_protein      gene/protein      HBA2    1.0
321078   molecule     82153.0  drug_protein      gene/protein  SERPINA6    1.0
321079   molecule   5311000.0  drug_protein      gene/protein  SERPINA6    1.0
...           ...         ...           ...               ...       ...    ...
2076036  molecule  71306834.0   drug_effect  effect/phenotype    2595.0    1.0
2076037  molecule  71306834.0   drug_effect  effect/phenotype    1618.0    1.0
2076038  molecule  71306834.0   drug_effect  effect/phenotype    1677.0    1.0
2076039  molecule  71306834.0   drug_effect  effect/phenotype    1262.0    1.0
2076040  molecule  71306834.0   drug_effect  effect/phenotype    2791.0    1.0

[1469382 rows x 6 columns]

**Descriptor**

In [14]:
desc_lines = []

with open('./compound_descriptor_triple_1.txt', 'r') as f:
    desc_lines += f.readlines()
with open('./compound_descriptor_triple_2.txt', 'r') as f:
    desc_lines += f.readlines()
with open('./compound_descriptor_triple_3.txt', 'r') as f:
    desc_lines += f.readlines()
with open('./compound_descriptor_triple_4.txt', 'r') as f:
    desc_lines += f.readlines()
with open('./compound_descriptor_triple_5.txt', 'r') as f:
    desc_lines += f.readlines()
with open('./compound_descriptor_triple_6.txt', 'r') as f:
    desc_lines += f.readlines()

len(desc_lines)

728310

In [15]:
from tqdm import tqdm
import pandas as pd

new_rows = []
for line in tqdm(desc_lines):
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r.lower(), 'y_type': 'value', 'y_id': float(t), 'score': 1.0}
    new_rows.append(new_row)

df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 728310/728310 [00:00<00:00, 842816.88it/s]

In [16]:
df[df.x_id == 977.0]

,x_type,x_id,relation,y_type,y_id,score
2,molecule,977.0,drug_protein,gene/protein,HBA2,1.0
558,molecule,977.0,drug_protein,gene/protein,HBB,1.0
9035,molecule,977.0,drug_protein,gene/protein,COX1,1.0
21318,molecule,977.0,drug_protein,gene/protein,NOX1,1.0
1494606,molecule,977.0,hydrogen_bond_donor_count,value,0.0,1.0
1499548,molecule,977.0,tpsa,value,34.1,1.0
1514417,molecule,977.0,isotope_atom_count,value,0.0,1.0
1532353,molecule,977.0,covalent_unit_count,value,1.0,1.0
1554658,molecule,977.0,mono_isotopic_weight,value,31.989829,1.0
1586076,molecule,977.0,tautomer_count,value,1.0,1.0

**Cooccurence**

In [17]:
import json

mol_mol = {}
with open('./chemical_chemical_1.json', 'r') as f:
    mol_mol.update(json.load(f))

with open('./chemical_chemical_2.json', 'r') as f:
    mol_mol.update(json.load(f))

with open('./chemical_chemical_3.json', 'r') as f:
    mol_mol.update(json.load(f))

mol_dz = {}
with open('./chemical_disease_1.json', 'r') as f:
    mol_dz.update(json.load(f))

with open('./chemical_disease_2.json', 'r') as f:
    mol_dz.update(json.load(f))

with open('./chemical_disease_3.json', 'r') as f:
    mol_dz.update(json.load(f))

mol_gene = {}
with open('./chemical_gene_1.json', 'r') as f:
    mol_gene.update(json.load(f))

with open('./chemical_gene_2.json', 'r') as f:
    mol_gene.update(json.load(f))

with open('./chemical_gene_3.json', 'r') as f:
    mol_gene.update(json.load(f))

In [18]:
new_rows = []

for key in tqdm(mol_mol.keys()):
    cos = mol_mol[key]
    src = float(key)
    for co in cos:
        dst = float(co[0].replace('CID', ''))
        score = float(co[1])
        new_row = {'x_type': 'molecule', 'x_id': src, 'relation': 'cooccurence', 'y_type': 'molecule', 'y_id': dst, 'score': score}
        new_rows.append(new_row)

df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 16030/16030 [00:00<00:00, 221829.32it/s]

In [19]:
new_rows = []

for key in tqdm(mol_dz.keys()):
    cos = mol_dz[key]
    src = float(key)
    for co in cos:
        dst = co[0]
        score = float(co[1])
        new_row = {'x_type': 'molecule', 'x_id': src, 'relation': 'cooccurence', 'y_type': 'disease', 'y_id': dst, 'score': score}
        new_rows.append(new_row)

df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14033/14033 [00:00<00:00, 340050.54it/s]

In [20]:
new_rows = []

for key in tqdm(mol_gene.keys()):
    cos = mol_gene[key]
    src = float(key)
    for co in cos:
        dst = co[0]
        score = float(co[1])
        new_row = {'x_type': 'molecule', 'x_id': src, 'relation': 'cooccurence', 'y_type': 'gene/protein', 'y_id': dst, 'score': score}
        new_rows.append(new_row)

df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 13818/13818 [00:00<00:00, 358240.67it/s]

In [21]:
df[df.x_id == 977.0]

,x_type,x_id,relation,y_type,y_id,score
2,molecule,977.0,drug_protein,gene/protein,HBA2,1.000000
545,molecule,977.0,drug_protein,gene/protein,HBB,1.000000
8765,molecule,977.0,drug_protein,gene/protein,COX1,1.000000
20521,molecule,977.0,drug_protein,gene/protein,NOX1,1.000000
1298231,molecule,977.0,hydrogen_bond_donor_count,value,0.0,1.000000
1303173,molecule,977.0,tpsa,value,34.1,1.000000
1318042,molecule,977.0,isotope_atom_count,value,0.0,1.000000
1335978,molecule,977.0,covalent_unit_count,value,1.0,1.000000
1358283,molecule,977.0,mono_isotopic_weight,value,31.989829,1.000000
1389701,molecule,977.0,tautomer_count,value,1.0,1.000000
1412212,molecule,977.0,cooccurence,molecule,962.0,1.000000
1412213,molecule,977.0,cooccurence,molecule,947.0,0.994681
1412214,molecule,977.0,cooccurence,molecule,5462310.0,0.862397
1412215,molecule,977.0,cooccurence,molecule,280.0,0.699679
1412216,molecule,977.0,cooccurence,molecule,5793.0,0.676426
1489759,molecule,977.0,cooccurence,disease,DZID6914,1.000000
1489760,molecule,977.0,cooccurence,disease,DZID8198,0.393408
1489761,molecule,977.0,cooccurence,disease,DZID6942,0.308140
1489762,molecule,977.0,cooccurence,disease,DZID10277,0.223410
1489763,molecule,977.0,cooccurence,disease,DZID8607,0.200368
1552479,molecule,977.0,cooccurence,gene/protein,EC_1.15.1.1,1.000000
1552480,molecule,977.0,cooccurence,gene/protein,CAT,0.814292
1552481,molecule,977.0,cooccurence,gene/protein,HIF1A,0.456201
1552482,molecule,977.0,cooccurence,gene/protein,EC_1.10.3.9,0.454179
1552483,molecule,977.0,cooccurence,gene/protein,VEGFA,0.453207

**Neighbor**

In [22]:
with open('./chemical_nbr2d.json', 'r') as f:
    mol_nbr2d = json.load(f)

with open('./chemical_nbr3d.json', 'r') as f:
    mol_nbr3d = json.load(f)

In [23]:
new_rows = []

for key in tqdm(mol_nbr2d.keys()):
    if mol_nbr2d[key] == None:
        continue
    nbr = float(mol_nbr2d[key])
    src = float(key)
    new_row = {'x_type': 'molecule', 'x_id': src, 'relation': 'neighbor_2d', 'y_type': 'molecule', 'y_id': nbr, 'score': 1.0}
    new_rows.append(new_row)

df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 33563/33563 [00:00<00:00, 1382666.51it/s]

In [24]:
new_rows = []

for key in tqdm(mol_nbr3d.keys()):
    if mol_nbr3d[key] == None:
        continue
    nbr = float(mol_nbr3d[key][0])
    src = float(key)
    new_row = {'x_type': 'molecule', 'x_id': src, 'relation': 'neighbor_3d', 'y_type': 'molecule', 'y_id': nbr, 'score': 1.0}
    new_rows.append(new_row)

df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 33563/33563 [00:00<00:00, 1389860.64it/s]

In [25]:
df[df.x_id == 23978.0]

           x_type     x_id      relation        y_type        y_id     score
0        molecule  23978.0  drug_protein  gene/protein          F8  1.000000
1        molecule  23978.0  drug_protein  gene/protein          F5  1.000000
426      molecule  23978.0  drug_protein  gene/protein         ALB  1.000000
600      molecule  23978.0  drug_protein  gene/protein         A2M  1.000000
680      molecule  23978.0  drug_protein  gene/protein          CP  1.000000
...           ...      ...           ...           ...         ...       ...
1552476  molecule  23978.0   cooccurence  gene/protein       ATP7B  0.460951
1552477  molecule  23978.0   cooccurence  gene/protein  EC_1.9.3.1  0.352543
1552478  molecule  23978.0   cooccurence  gene/protein         CAT  0.332801
1633692  molecule  23978.0   neighbor_2d      molecule        78.0  1.000000
1660092  molecule  23978.0   neighbor_3d      molecule        78.0  1.000000

[206 rows x 6 columns]

**Same_connectivity**

In [26]:
with open('./compound_connectivity.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'molecule', 'y_id': float(t), 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Component**

In [27]:
with open('./compound_component.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'molecule', 'y_id': float(t), 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Isotopologue**

In [28]:
with open('./compound_isotopologue.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'molecule', 'y_id': float(t), 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Parent**

In [29]:
with open('./compound_parent.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'molecule', 'y_id': float(t), 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Stereoisomer**

In [30]:
with open('./compound_stereoisomer.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'molecule', 'y_id': float(t), 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Compound2drug**

In [31]:
with open('./compound_todrug.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'drug', 'y_id': t, 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Compound2type**

In [32]:
with open('./compound_totype.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'drug', 'y_id': t, 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

**Pathway**

In [33]:
with open('./compound_pathway.txt', 'r') as f:
    lines = f.readlines()

new_rows = []
for line in lines:
    h, r, t = line[:-1].split('\t')
    new_row = {'x_type': 'molecule', 'x_id': float(h), 'relation': r, 'y_type': 'pathway', 'y_id': t, 'score': 1.0}
    new_rows.append(new_row)


df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df = df.drop_duplicates()

In [34]:
df[df.x_id == 977.0]

,x_type,x_id,relation,y_type,y_id,score
2,molecule,977.0,drug_protein,gene/protein,HBA2,1.0
545,molecule,977.0,drug_protein,gene/protein,HBB,1.0
8765,molecule,977.0,drug_protein,gene/protein,COX1,1.0
20521,molecule,977.0,drug_protein,gene/protein,NOX1,1.0
1298231,molecule,977.0,hydrogen_bond_donor_count,value,0.0,1.0
...,...,...,...,...,...,...
2120062,molecule,977.0,in_pathway,pathway,PWID1184983,1.0
2120518,molecule,977.0,in_pathway,pathway,PWID25287,1.0
2120726,molecule,977.0,in_pathway,pathway,PWID1184770,1.0
2120996,molecule,977.0,in_pathway,pathway,PWID1281960,1.0
2121045,molecule,977.0,in_pathway,pathway,PWID1184607,1.0

In [35]:
df.to_csv("KG.csv", index=False)

2121303